header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease;
    background-color: white;

}
header.scrolled{
    background: rgba(2, 2, 2, 0.67);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.4px);
        -webkit-backdrop-filter: blur(7.4px);
}
header.scrolled .navbar li a {
    color: white;
}
.hero{
    margin-top: 4.9em;
}

.navbar li {
    list-style: none;
}



.logo img{
    width: 70px;
    height: 70px;
}



.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;

}

.navbar a:hover {
    color: #008cff;

}


.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 500;
    transition: all .50s ease;
}



.main a:hover {
    color: #008cff;

}


#menu-icon {
    color: rgb(2, 2, 2);
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

@media screen and (min-width: 390px)and (max-width:416px) {
    .main a {
        margin-right: 15px;
    }



}






@media (max-width: 502px) {
    .main a {
        font-size: 1em;
    }
}


@media (max-width: 1318px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;

    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        z-index: 1000;
        top: 100%;
        /* Para que se oculte completamente */
        right: -100%;
        width: 100%;
        height: 40vh;
        background: #1d1d1d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all .50s ease;
    }

    .navbar a {
        display: flex;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        justify-content: center;
        color: white;
    }

    .navbar a:hover {
        color: #000000;
        background:#008cff;
        /* ANIMACION PARA QUE SE MUEVA EN EL EJE Y */
        transform: translateY(5px);
    }

    .navbar a.active {
        color: #00FFC2;
    }

    .navbar.open {
        right: 0%;
    }
}

